:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  overflow: scroll;
  margin: auto;

  --primary: #966ae8;
  --info: #35a7e0;
  --danger: #ff5e5b;
  --card: #161032;
  --background: #001011;
}

.background {
  background-image: url(../public/background.svg);

  min-height: 100vh;
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
  animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
